.subtitulo, .mesasDulce .mesasDulce__subtitulo, .contenedor1 .caja__titulo, .contenedorBienvenidos__subtitulo, .productos__subt, .recetas__subtitulo, .sobreMi__subtitulo {
  font-size: 2.5rem;
  color: #bb68bb;
  padding: 1rem;
  font-family: 'Architects Daughter', cursive;
  text-align: center;
}

.header-banner {
  /*background-image: url(./imagenes/banner5.jpg); reemplazado por el gradient */
  background-repeat: no-repeat;
  height: 40vh;
  padding: 2rem;
  background: #fffbd5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(178, 10, 44, 0.336)), to(rgba(255, 251, 214, 0.452))), url(./imagenes/banner10.jpg);
  background: linear-gradient(to right, rgba(178, 10, 44, 0.336), rgba(255, 251, 214, 0.452)), url(./imagenes/banner10.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  grid-area: header;
}

.header__navbar--principal {
  padding: 50px;
}

.header-navbar--principal li {
  list-style: none;
  display: inline-block;
}

.header-navbar--principal a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  background-color: whitesmoke;
  padding: 0.5rem;
}

.header-navbar--principal a:hover {
  text-decoration: underline;
}

.titulo {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: white;
  padding: 1rem;
  font-family: 'Architects Daughter', cursive;
}

em {
  background-color: whitesmoke;
  color: #f17b4d;
  font-family: 'Architects Daughter', cursive;
}

.identidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 80px;
  width: 80px;
}

header {
  background-repeat: no-repeat;
  background: #fffbd5;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(178, 10, 44, 0.336)), to(rgba(255, 251, 214, 0.452))), url(./imagenes/banner10.jpg);
  background: linear-gradient(to right, rgba(178, 10, 44, 0.336), rgba(255, 251, 214, 0.452)), url(./imagenes/banner10.jpg);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.mesasDulce {
  background-color: #f1dcc2;
  margin-top: 2.5%;
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
}

.contenedorFlex img {
  size: 500px 500px;
}

.contenedor1 {
  background-color: #f1dcc2;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  size: 500px 500px;
}

.contenedor1 .caja__img {
  height: 230px;
  width: 250px;
  border-radius: 50%;
}

.boton {
  border: none;
  min-width: 100px;
  height: 50px;
  padding: 0 30px;
  background-color: beige;
  color: white;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffac8e;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.boton .boton--relative {
  position: relative;
  right: 20px;
  bottom: -10px;
}

.boton:hover {
  background: #f36937;
  text-decoration: none;
}

.contenidoTexto {
  text-align: center;
  font-size: 1.3rem;
  color: black;
  padding: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tortasPer .bienvenidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bienvenidos .contenedorBienvenidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  list-style: none;
  color: #424242;
  display: inline-block;
  border-radius: 100px;
  text-decoration: none;
}

a:hover {
  list-style: none;
  color: #6b6b6b;
  text-decoration: none;
}

.footer-page {
  background-color: #f1dcc2;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.icon-favicon {
  height: 40px;
  width: 40px;
  padding-top: 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffac8e;
  color: #f5f5ff;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icon-favicon:hover {
  background: #e29174;
}

@media (max-Width: 780px) {
  header {
    background-repeat: no-repeat;
    background: #fffbd5;
    /* fallback for old browsers */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(rgba(178, 10, 44, 0.336)), to(rgba(255, 251, 214, 0.452))), url(./imagenes/banner10.jpg);
    background: linear-gradient(to right, rgba(178, 10, 44, 0.336), rgba(255, 251, 214, 0.452)), url(./imagenes/banner10.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
  }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 780px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 728px) {
  .footer-page {
    background-color: #f1dcc2;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-start {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */