//DECLARACIONES GLOBALES
$pink: rgb(159, 50, 163);
$green: rgb(102, 58, 17);
$coral: rgb(241, 220, 194);

$primary: $pink;
$secondary: $green;
$backg: $coral;

.subtitulo{
    font-size: 2.5rem;
    color: rgb(187, 104, 187);
    padding: 1rem;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}

@mixin contenidoTexto {
    text-align: center;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

//HEADER
.header-banner{
    /*background-image: url(./imagenes/banner5.jpg); reemplazado por el gradient */
    background-repeat:no-repeat;
    height: 40vh;
    padding: 2rem;
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(348, 89%, 37%, 0.336), hsla(54, 100%, 92%, 0.452)),url(./imagenes/banner10.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    grid-area: header;
   
}

.header__navbar--principal{
    padding: 50px;
    
}

.header-navbar--principal li{
    list-style: none;
    display: inline-block;
}

.header-navbar--principal a{
    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    background-color: whitesmoke;
    padding: 0.5rem;
}

.header-navbar--principal a:hover{
    text-decoration: underline;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    color: white;
    padding: 1rem;
    font-family: 'Architects Daughter', cursive;
}
em{
    background-color:whitesmoke;
    color: rgb(241, 123, 77);
    font-family: 'Architects Daughter', cursive;
    
} 

.identidad{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo{
    height: 80px;
    width: 80px;
}

header{
    background-repeat:no-repeat;
    background: #fffbd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(348, 89%, 37%, 0.336), hsla(54, 100%, 92%, 0.452)),url(./imagenes/banner10.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    text-align: center;
    .navbar{
        display: flex;
        justify-content: center;
    }  
}


.nav-item a{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2rem;
    background-color: whitesmoke;
    padding: 0.5rem;
}

//INDEX 
.mesasDulce{
    background-color:$coral;
    margin-top: 2.5%;
    margin-left: 10%;
    margin-right: 10%;
    overflow: hidden;
    .mesasDulce__subtitulo{
        @extend .subtitulo;
    }
}

.contenedorFlex{
    img{
        size: 500px 500px;
    }
}

.contenedor1{
    background-color:rgb(241, 220, 194);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 20px;
    size: 500px 500px;
    .caja__titulo{
        @extend .subtitulo;
    }

    .caja__img{
        height: 230px;
        width: 250px;
        border-radius: 50%;
    }
}

.boton{
    border: none;
    min-width: 100px;
    height: 50px;
    padding: 0 30px;
    background-color: beige;
    color: white;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    background: rgb(255, 172, 142);
    transition: .3s ease all;
    .boton--relative{
        position: relative;
        right: 20px;
        bottom: -10px;
    }
}

.boton:hover{
    background: rgb(243, 105, 55);
    text-decoration: none;
}


.contenedorBienvenidos__subtitulo{
    @extend .subtitulo;
}

.contenidoTexto{
    @include contenidoTexto;
}

.tortasPer{
    .bienvenidos{
    display: flex;
    flex-direction: column;
}
}

.bienvenidos{
    .contenedorBienvenidos{
        display: flex;
        flex-direction: column;
    }
}

//PRODUCTOS
 .productos__subt{
    @extend .subtitulo;
 }
//RECETAS
 .recetas__subtitulo{
    @extend .subtitulo;
 }

 //SOBRE MI
 .sobreMi__subtitulo{
    @extend .subtitulo;
 }

 //FOOTER
 footer a{
    list-style: none;
    color: rgb(66, 66, 66);
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
}
a:hover{
    list-style: none;
    color: rgb(107, 107, 107);
    text-decoration: none;
}
.footer-page{
    background-color: rgb(241, 220, 194);
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.social{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
.icon-favicon{ 
    height: 40px;
    width: 40px;
    padding-top: 2%;
    align-items: center;
    background: #ffac8e;
    color: rgb(245, 245, 255);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 18px;
    transition: 0.3s;
}
.icon-favicon:hover{
    background: #e29174;
}

@media (max-Width: 780px) {
    header{
        background-repeat:no-repeat;
        background: #fffbd5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, hsla(348, 89%, 37%, 0.336), hsla(54, 100%, 92%, 0.452)),url(./imagenes/banner10.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        text-align: center;
        .navbar{
            display: flex;
            justify-content: center;
        }  
    }
}